@import "tailwindcss";

:root {
	--foreground: #fcfcfc;
	--background: #101319;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@theme {
	/* Breakpoints */
	--breakpoint-xxs: 360px;
	--breakpoint-xs: 480px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;
	--breakpoint-3xl: 1920px;
	--breakpoint-4xl: 2560px;
	--breakpoint-5xl: 3840px;

	/* Colors */
	--color-pure-white: #ffffff;
	--color-white: #fcfcfc;
	--color-black: #101319;
	--color-grey-light: #a3aaae;
	--color-grey-dark: #495058;
	--color-graphite: #272c33;
	--color-charcoal: #212534;
	--color-blue: #205171;
	--color-mint: #afeed4;
	--color-error: #ef4444;
	--color-success: #22c55e;
	/* Typography */

	/* 93 */
	--text-93-m: 2.75rem;
	--text-93-m--line-height: 110%;
	--text-93-m--letter-spacing: -4%;

	--text-93-d: 5.8125rem;
	--text-93-d--line-height: 110%;
	--text-93-d--letter-spacing: -4%;

	/* 64 */
	--text-64-m: 2.5rem;
	--text-64-m--line-height: 110%;
	--text-64-m--letter-spacing: -4%;

	--text-64-d: 4rem;
	--text-64-d--line-height: 110%;
	--text-64-d--letter-spacing: -4%;

	/* 44 */
	--text-44-m: 2.25rem;
	--text-44-m--line-height: 110%;
	--text-44-m--letter-spacing: -4%;

	--text-44-d: 2.75rem;
	--text-44-d--line-height: 110%;
	--text-44-d--letter-spacing: -4%;

	/* 32 */
	--text-32-m: 1.5rem;
	--text-32-m--line-height: 110%;
	--text-32-m--letter-spacing: -2%;

	--text-32-d: 2rem;
	--text-32-d--line-height: 110%;
	--text-32-d--letter-spacing: -2%;

	/* 26 */
	--text-26-m: 1.25rem;
	--text-26-m--line-height: 110%;
	--text-26-m--letter-spacing: -2%;

	--text-26-d: 1.625rem;
	--text-26-d--line-height: 110%;
	--text-26-d--letter-spacing: -2%;

	/* 24 Bold */
	--text-24-bold-m: 1.125rem;
	--text-24-bold-m--line-height: 140%;
	--text-24-bold-m--letter-spacing: -2%;

	--text-24-bold-d: 1.5rem;
	--text-24-bold-d--line-height: 140%;
	--text-24-bold-d--letter-spacing: -2%;

	/* 24 */
	--text-24-m: 1.125rem;
	--text-24-m--line-height: 160%;
	--text-24-m--letter-spacing: -4%;

	--text-24-d: 1.5rem;
	--text-24-d--line-height: 160%;
	--text-24-d--letter-spacing: -4%;

	/* 22 Bold */
	--text-22-bold-m: 1.0625rem;
	--text-22-bold-m--line-height: 140%;
	--text-22-bold-m--letter-spacing: -2%;

	--text-22-bold-d: 1.375rem;
	--text-22-bold-d--line-height: 140%;
	--text-22-bold-d--letter-spacing: -2%;

	/* 20 */
	--text-20-m: 1rem;
	--text-20-m--line-height: 160%;
	--text-20-m--letter-spacing: -3%;

	--text-20-d: 1.25rem;
	--text-20-d--line-height: 160%;
	--text-20-d--letter-spacing: -3%;

	/* 20 Caps */
	--text-20-caps-m: 1rem;
	--text-20-caps-m--line-height: 140%;
	--text-20-caps-m--letter-spacing: -3%;

	--text-20-caps-d: 1.25rem;
	--text-20-caps-d--line-height: 140%;
	--text-20-caps-d--letter-spacing: -3%;

	/* 18 */
	--text-18-m: 1rem;
	--text-18-m--line-height: 160%;
	--text-18-m--letter-spacing: -3%;

	--text-18-d: 1.125rem;
	--text-18-d--line-height: 160%;
	--text-18-d--letter-spacing: -3%;

	/* 16 */
	--text-16-m: 0.875rem;
	--text-16-m--line-height: 160%;
	--text-16-m--letter-spacing: 0%;

	--text-16-d: 1rem;
	--text-16-d--line-height: 160%;
	--text-16-d--letter-spacing: 0%;

	/* 14 */
	--text-14-m: 0.75rem;
	--text-14-m--line-height: 140%;
	--text-14-m--letter-spacing: 3%;

	--text-14-d: 0.875rem;
	--text-14-d--line-height: 140%;
	--text-14-d--letter-spacing: 3%;

	/* 12 */
	--text-12-m: 0.75rem;
	--text-12-m--line-height: 140%;
	--text-12-m--letter-spacing: 2%;

	--text-12-d: 0.75rem;
	--text-12-d--line-height: 140%;
	--text-12-d--letter-spacing: 2%;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 85%;
	scrollbar-gutter: stable;
}

@media only screen and (min-width: 380px) {
	html {
		font-size: 90%;
	}
}
@media only screen and (min-width: 440px) {
	html {
		font-size: 100%;
	}
}
@media only screen and (min-width: 640px) {
	html {
		font-size: 110%;
	}
}
@media only screen and (min-width: 768px) {
	html {
		font-size: 115%;
	}
}
@media only screen and (min-width: 1280px) {
	html {
		font-size: 85%;
	}
}
@media only screen and (min-width: 1440px) {
	html {
		font-size: 90%;
	}
}
@media only screen and (min-width: 1600px) {
	html {
		font-size: 95%;
	}
}
@media only screen and (min-width: 1920px) {
	html {
		font-size: 100%;
	}
}
@media only screen and (min-width: 2048px) {
	html {
		font-size: 110%;
	}
}
@media only screen and (min-width: 2200px) {
	html {
		font-size: 110%;
	}
}
@media only screen and (min-width: 2559px) {
	html {
		font-size: 120%;
	}
}
@media only screen and (min-width: 3000px) {
	html {
		font-size: 130%;
	}
}
@media only screen and (min-width: 3300px) {
	html {
		font-size: 140%;
	}
}
@media only screen and (min-width: 3840px) {
	html {
		font-size: 170%;
	}
}

/* Typography utils */

@utility text-93 {
	font-size: var(--text-93-m);
	line-height: var(--text-93-m--line-height);
	letter-spacing: var(--text-93-m--letter-spacing);

	font-weight: 700;

	@media (min-width: 1280px) {
		font-size: var(--text-93-d);
		line-height: var(--text-93-d--line-height);
		letter-spacing: var(--text-93-d--letter-spacing);
	}
}

@utility text-64 {
	font-size: var(--text-64-m);
	line-height: var(--text-64-m--line-height);
	letter-spacing: var(--text-64-m--letter-spacing);

	font-weight: 700;

	@media (min-width: 1280px) {
		font-size: var(--text-64-d);
		line-height: var(--text-64-d--line-height);
		letter-spacing: var(--text-64-d--letter-spacing);
	}
}

@utility text-44 {
	font-size: var(--text-44-m);
	line-height: var(--text-44-m--line-height);
	letter-spacing: var(--text-44-m--letter-spacing);

	font-weight: 700;

	@media (min-width: 1280px) {
		font-size: var(--text-44-d);
		line-height: var(--text-44-d--line-height);
		letter-spacing: var(--text-44-d--letter-spacing);
	}
}

@utility text-32 {
	font-size: var(--text-32-m);
	line-height: var(--text-32-m--line-height);
	letter-spacing: var(--text-32-m--letter-spacing);

	font-weight: 700;

	@media (min-width: 1280px) {
		font-size: var(--text-32-d);
		line-height: var(--text-32-d--line-height);
		letter-spacing: var(--text-32-d--letter-spacing);
	}
}

@utility text-26 {
	font-size: var(--text-26-m);
	line-height: var(--text-26-m--line-height);
	letter-spacing: var(--text-26-m--letter-spacing);

	font-weight: 700;

	@media (min-width: 1280px) {
		font-size: var(--text-26-d);
		line-height: var(--text-26-d--line-height);
		letter-spacing: var(--text-26-d--letter-spacing);
	}
}

@utility text-24-bold {
	font-size: var(--text-24-bold-m);
	line-height: var(--text-24-bold-m--line-height);
	letter-spacing: var(--text-24-bold-m--letter-spacing);

	font-weight: 700;

	@media (min-width: 1280px) {
		font-size: var(--text-24-bold-d);
		line-height: var(--text-24-bold-d--line-height);
		letter-spacing: var(--text-24-bold-d--letter-spacing);
	}
}

@utility text-24 {
	font-size: var(--text-24-m);
	line-height: var(--text-24-m--line-height);
	letter-spacing: var(--text-24-m--letter-spacing);

	font-weight: 400;

	@media (min-width: 1280px) {
		font-size: var(--text-24-d);
		line-height: var(--text-24-d--line-height);
		letter-spacing: var(--text-24-d--letter-spacing);
	}
}

@utility text-22-bold {
	font-size: var(--text-22-bold-m);
	line-height: var(--text-22-bold-m--line-height);
	letter-spacing: var(--text-22-bold-m--letter-spacing);

	font-weight: 700;

	@media (min-width: 1280px) {
		font-size: var(--text-22-bold-d);
		line-height: var(--text-22-bold-d--line-height);
		letter-spacing: var(--text-22-bold-d--letter-spacing);
	}
}

@utility text-20 {
	font-size: var(--text-20-m);
	line-height: var(--text-20-m--line-height);
	letter-spacing: var(--text-20-m--letter-spacing);

	font-weight: 400;

	@media (min-width: 1280px) {
		font-size: var(--text-20-d);
		line-height: var(--text-20-d--line-height);
		letter-spacing: var(--text-20-d--letter-spacing);
	}
}

@utility text-20-caps {
	font-size: var(--text-20-caps-m);
	line-height: var(--text-20-caps-m--line-height);
	letter-spacing: var(--text-20-caps-m--letter-spacing);

	font-weight: 400;
	text-transform: uppercase;

	@media (min-width: 1280px) {
		font-size: var(--text-20-caps-d);
		line-height: var(--text-20-caps-d--line-height);
		letter-spacing: var(--text-20-caps-d--letter-spacing);
	}
}

@utility text-18 {
	font-size: var(--text-18-m);
	line-height: var(--text-18-m--line-height);
	letter-spacing: var(--text-18-m--letter-spacing);

	font-weight: 400;

	@media (min-width: 1280px) {
		font-size: var(--text-18-d);
		line-height: var(--text-18-d--line-height);
		letter-spacing: var(--text-18-d--letter-spacing);
	}
}

@utility text-16 {
	font-size: var(--text-16-m);
	line-height: var(--text-16-m--line-height);
	letter-spacing: var(--text-16-m--letter-spacing);

	font-weight: 400;

	@media (min-width: 1280px) {
		font-size: var(--text-16-d);
		line-height: var(--text-16-d--line-height);
		letter-spacing: var(--text-16-d--letter-spacing);
	}
}

@utility text-14 {
	font-size: var(--text-14-m);
	line-height: var(--text-14-m--line-height);
	letter-spacing: var(--text-14-m--letter-spacing);

	font-weight: 600;

	@media (min-width: 1280px) {
		font-size: var(--text-14-d);
		line-height: var(--text-14-d--line-height);
		letter-spacing: var(--text-14-d--letter-spacing);
	}
}

@utility text-12 {
	font-size: var(--text-12-m);
	line-height: var(--text-12-m--line-height);
	letter-spacing: var(--text-12-m--letter-spacing);

	font-weight: 600;

	@media (min-width: 1280px) {
		font-size: var(--text-12-d);
		line-height: var(--text-12-d--line-height);
		letter-spacing: var(--text-12-d--letter-spacing);
	}
}